body {
    background-color: #fefff1;
    background-image: url("images/background.jpg");
    background-position: center center;
    background-repeat:no-repeat;
}

#search {
    width: 600px;
    margin: 300px auto 10px auto;
    font-family: "Shadows Into Light", cursive;
}

#search input {
    border: 0;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.7);
    padding: 0px 40px;
    background: transparent;
    width: inherit;
    font-family: inherit;
    color: white;
    font-size: 2em;
    transition: 0.5s;
    transition-property: text-shadow;
    text-shadow: 1px 1px 2px black;
}

#search input ::selection {
    color: red;
}

#search input:focus {
    outline: none;
    text-shadow: 2px 2px 5px black;
}

#search input:focus ~ .bar {

}

.bar {
    position:relative;
    display:block;
    width: 100%;
}

.bar:before, .bar:after {
  content:'';
  height: 3px;
  width:0;
  bottom: -1px;
  position:absolute;
  background: #3a89c2;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

/* active state */
#search input:focus ~ .bar:before, 
#search input:focus ~ .bar:after {
  width:50%;
}


#external-links {
    position: relative;
    width: 60%;
    margin: 60px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#external-links a {
    border: 2px solid hsla(208, 66%, 50%, 0.7);
    background: rgba(74, 130, 179, 0.66);
    padding: 18px;
    margin: 0 25px;
    margin-bottom: 40px;
    border-radius: 50%;
    transition-duration: 0.3s;
    transition-property: background box-shadow;
}

#external-links a:hover {
    background: rgba(74, 130, 179, 1);
    box-shadow: 4px 4px 6px 2px hsla(0, 0%, 0%, 0.49);
}

#external-links a img {
    height: 91px;
}

#external-links a:hover img {
    transition: filter 0.5s;
    -webkit-filter: drop-shadow(6px 6px 5px #222);
    filter: drop-shadow(6px 6px 5px #222);
}

/* When clicking, push the image back down, keeping the background as it was */
#external-links a:active img {
    -webkit-filter: none;
    filter: none;
    transition: filter 0.1s;
}

